/* COLORS */
$colorwhite: #f2f2f2;
$colorblack: #0d0d0d;
$color01: #E0E1DD;
$color02: #778DA9;
$color03: #415A77;
$color04: #1B263B;
$color05: #0D1B2A;

/* FONTS */
$defaultFont: "Montserrat", sans-serif;
$titleFont: "Oswald", sans-serif;

/* PADDING, MARGIN, BORDER, BORDER-RADIUS */
$defaultBorder: 2px solid $color02;
$defaultBorderRadius: 16px;

$defaultPadding__Button: 8px 16px;
$defaultBorderRadius__Button: 16rem;

// BOX SHADOW
$defaultBoxShadow: -4px -4px 6px $color01, 4px 4px 6px $color05;
