@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
  color: #f5f5f5;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

.header {
  padding: 2rem;
  text-align: center;
  background: #141414;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.header__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #00adb5;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav__item {
  margin: 0 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #00adb5;
}

.section {
  padding: 4rem 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #00adb5;
  border-bottom: 2px solid #00adb5;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.about {
  text-align: center;
}

.about__description {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cccccc;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project {
  background: #292929;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  width: 300px;
}

.project__title {
  margin-bottom: 1rem;
  color: #00adb5;
}

.project__description {
  color: #cccccc;
}

.project__button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #00adb5;
  color: #1c1c1c;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.project__button:hover {
  background-color: #007a80;
}

.skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;

  background: #292929;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.skill__icon {
  width: 80px;
}

.contact {
  text-align: center;
}

.contact__description {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  color: #cccccc;
}

.contact__link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #00adb5;
  color: #1c1c1c;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.contact__link:hover {
  background-color: #007a80;
}

.footer {
  padding: 2rem;
  text-align: center;
  background: #141414;
  color: #666;
  margin-top: 2rem;
  font-size: 0.9rem;
}
