@charset "UTF-8";

@import "reset";
@import "variables";
@import "mixins";
@import "animations";

@import "./partials/header";
@import "./partials/hero";
@import "./partials/aboutme";
@import "./partials/projects";
@import "./partials/skills";
@import "./partials/form";
@import "./partials/footer";
@import "./partials/thank";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 82px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;
}

// Estilos Globais
.page {
    font-family: "Poppins", sans-serif;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;

    &--light-theme {
        background-color: $light-theme-background-color;
        color: $light-theme-text-color;

        a {
            color: $light-theme-primary-color;

            &:hover {
                color: $light-theme-hover-color;
            }
        }

        .section-title {
            color: $light-theme-primary-color;

            &::after {
                background-color: $light-theme-primary-color;
            }
        }
    }
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $hover-color;
    }
}

// Estilos do Conteúdo Principal
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 1rem 0;
}

.section-title {
    font-size: 2.5rem;
    margin: 2rem 0;
    color: $primary-color;
    text-align: center;
    position: relative;

    animation: fadeInUp both;
    animation-timeline: view(70% 5%);

    &::after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background-color: $primary-color;
        margin: 0.5rem auto 0;
    }
}

.main > section {
    animation: fadeInUp 1s ease-out;
}
