/* Tablet Styles */
@media (min-width: 600px) {
  .theme-toggle {
    display: flex;
  }

  .nav__list {
    flex-direction: row;
    gap: 2rem;
  }

  .section__title {
    font-size: 2rem;
  }

  .projects__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: 45%;
  }
}

/* Desktop Styles */
@media (min-width: 900px) {
  .header__title {
    font-size: 2.5rem;
  }

  .section__title {
    font-size: 2.2rem;
  }

  .projects__list {
    justify-content: space-between;
  }

  .project {
    width: 30%;
  }
}
