@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

/* HEADER */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  background-color: $color05;

  .header__logo {
    height: 40px;
  }

  #header__ButtonHamburguer {
    z-index: 999;
    display: flex;

    font-size: 14px;
    color: $color01;
  }

  #header__Nav {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 998;

    min-height: 500px;
    min-width: 100vw;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;

    background: $color05;

    transition: all .2s ease;

    .header__ButtonSection {
      text-decoration: none;

      display: flex;
      gap: 8px;
      padding: 8px;

      font-size: 14px;
      color: $color01;
    }

    .container__DarkMode {
      display: flex;
      gap: 8px;
      color: $color01;
    }
  }
}
