@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

/* HEADER */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 16px;

  background-color: $color05;

  .header__logo {
    height: 40px;
  }

  .header__Nav {
    display: flex;
    align-items: center;
    gap: 16px;

    .header__ButtonSection {
      text-decoration: none;

      display: flex;
      gap: 8px;

      font-size: 14px;
      color: $color01;
    }
  }

  @media screen and (min-width: 768px) {
    .header__ButtonSection:nth-child(1):after {
      content: "Sobre mim";
    }
    .header__ButtonSection:nth-child(2)::after {
      content: "Projetos";
    }
    .header__ButtonSection:nth-child(3)::after {
      content: "Habilidades";
    }
    .header__ButtonSection:nth-child(4)::after {
      content: "Contato";
    }
  }
}
