@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

/* HEADER */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  background-color: $color05;

  .header__logo {
    height: 40px;
  }

  #header__ButtonHamburguer {
    display: flex;

    font-size: 14px;
    color: $color01;
  }

  #header__Nav {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 999;

    min-height: 500px;
    min-width: 100vw;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;

    background: $color05;

    .header__ButtonSection {
      text-decoration: none;

      display: flex;

      font-size: 14px;
      color: $color01;
    }
  }

  @media screen and (min-width: 768px) {
    .header__ButtonSection:nth-child(1):after {
      content: "Sobre mim";
    }
    .header__ButtonSection:nth-child(2)::after {
      content: "Projetos";
    }
    .header__ButtonSection:nth-child(3)::after {
      content: "Habilidades";
    }
    .header__ButtonSection:nth-child(4)::after {
      content: "Contato";
    }
  }
}
