@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

/* ABOUT ME */
#section__AboutMe {
  .aboutMe__Text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 8px;

    div {
      display: flex;
      justify-content: center;
    }

    ul li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  .aboutMe__Title {
    font-size: 30px;
  }

  #myNameTyping {
    border-right: 2px solid #000;
    height: 30px;

    animation: cursorBlinking .3s alternate infinite steps(22);
  }

  .aboutMe__button {
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;

    padding: 0.5rem 1rem;
    border-radius: 100rem;

    background: $color04;
    color: $color01;
  }

  .aboutMe__myPicture {
    max-width: 100%;
    filter: drop-shadow(4px 4px 12px #00000040);
  }
}

@media screen and (min-width: 912px) {
  #section__AboutMe {
    flex-flow: row wrap;

    .aboutMe__Text {
      width: 42%;
    }
    
    .aboutMe__button:hover {
      transition: all .2s ease;

      background-color: $color02;
      color: $color04;
      transform: scale(1.05);
    }
  }
}
