.section.about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  gap: 1rem;
}

.about__left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.about__description {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--text-color);
  text-align: center;
}

.curriculum__link {
  align-self: center;

  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.curriculum__link:hover {
  background-color: var(--hover-color);
}

.about__picture {
  width: 20rem;
  height: 20rem;

  border-radius: 50%;
  /* clip-path: polygon(78% 1%, 0 28%, 72% 100%); */

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
