main section#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;

  background-color: #ddd;
}

main section#aboutme div {
  width: 400px;
  margin-right: 100px;

  text-align: start;
}

main section#aboutme div h2 {
  font-size: 2rem;
  font-weight: 600;

  margin: 20px 0px;
}
