.main-aboutme {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-aboutme__text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.main-aboutme__image {
  width: 100%;
  height: 20rem;

  background: url("../assets/images/minhaft001.jpeg") no-repeat center / cover;
}

h2#meu-nome {
  width: 180px;
  letter-spacing: 2px;

  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--colorwhite);
}
