main section#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;

  background: #000 url("../assets/images/programador.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

main section#aboutme div {
  width: 400px;
  transform: translate(100%, 0px);
  padding: 20px;

  text-align: start;
  border-radius: 20px;

  background-color: #ffffff80;
}

main section#aboutme div h2 {
  font-size: 2rem;
  font-weight: 600;

  margin: 20px 0px;
}
