footer section#contatos {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer section#contatos h2 {
  margin-bottom: 20px;
}

footer section#contatos div {
  width: 100%;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

hr {
  width: 100%;
  margin: 20px 0px;
}

footer section#contatos div i {
  font-weight: 600;
  margin-right: 10px;
}

footer section#contatos div p {
  font-weight: 600;
}

footer section#contatos a {
  background-color: #fff;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 0px 10px 0px 10px;
}

footer section#contatos a#github:hover {
  transform: scale(1.03);
  background-color: #9400ff;
  box-shadow: 0px 0px 15px #9400ff;
  color: #fff;

  transition-duration: 0.3s;
}

footer section#contatos a#linkedin:hover {
  transform: scale(1.03);
  background-color: #0366c3;
  box-shadow: 0px 0px 15px #0084ff;
  color: #fff;

  transition-duration: 0.3s;
}
