footer section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer section#form__falecomigo form {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: center;

  text-align: start;
}

footer section#form__falecomigo form div {
  display: flex;
  column-gap: 10px;
}

footer section#form__falecomigo form div div {
  display: flex;
  flex-direction: column;
}

footer section#form__falecomigo form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;

  margin-top: 10px;
  text-indent: 15px;
}

footer section#form__falecomigo input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--color01);
  color: #fff;
  background-color: transparent;
}

footer section#form__falecomigo form #imensagem {
  resize: vertical;
  max-height: 200px;
  width: 100%;

  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--color01);
  color: #fff;

  background-color: transparent;
}

footer section#form__falecomigo form #btn__Enviar {
  padding: 10px;
  background-color: transparent;
  margin-top: 10px;

  font-size: 1rem;

  border: 2px solid var(--color01);
  color: var(--color01);
  border-radius: 10px;
}

footer section#form__falecomigo form #btn__Enviar:hover {
  box-shadow: 0px 0px 10px var(--color01);
  transform: scale(1.02);
  transition-duration: 0.3s;
}
