footer section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;
  padding: 50px;
}

footer section#form__falecomigo form {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  text-align: start;
  align-items: center;

  width: 100%;
  padding: 10px;
}

footer section#form__falecomigo form div {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

footer section#form__falecomigo form div div {
  display: flex;
  flex-direction: column;
}

footer section#form__falecomigo form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;

  width: 100%;
  margin: 10px 10px;
  text-indent: 15px;
}

footer section#form__falecomigo input {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid var(--color01);
  color: #fff;
  background-color: transparent;
}

footer section#form__falecomigo form #imensagem {
  resize: vertical;
  max-height: 200px;
  width: 100%;

  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--color01);
  color: #fff;

  background-color: transparent;
}

footer section#form__falecomigo form #btn__Enviar {
  width: fit-content;
  padding: 10px 20px;
  background-color: transparent;
  margin-top: 20px;

  font-size: 1.1rem;

  border: 2px solid var(--color01);
  color: var(--color01);
  border-radius: 0px 10px 0px 10px;
}

footer section#form__falecomigo form #btn__Enviar:hover {
  box-shadow: 0px 0px 10px var(--color01);
  transform: scale(1.03);
}
