header {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  justify-content: space-around;

  padding-top: 20px;
  font-size: 1.3rem;

  background-color: var(--color00);
}

header > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--default);
  color: var(--color04);
}

header > nav > a {
  margin: 0px 20px;
  padding: 20px 20px 6px 20px;
  color: var(--color02);
}

header i {
  color: var(--color02);
}

header nav a:hover {
  transition-duration: 0.3s;
  color: var(--color03);
}

header i:hover {
  color: var(--color03);
}
