header {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  justify-content: space-around;

  padding: 20px;
  font-size: 1.3rem;

  background-color: var(--color00);
}

header h1 {
  font-size: 1.8rem;
  color: var(--color04);
}

header nav a {
  margin: 0px 10px;
  padding: 20px 20px 6px 20px;
  color: var(--color02);
}

header i {
  color: var(--color02);
}

i#btn__menu {
  display: none;
}

header a:hover i {
  color: var(--color03);
  transition-duration: 0.3s;
}

header nav a:hover {
  color: var(--color03);
  transition-duration: 0.3s;
}

@media screen and (max-width: 1440px) {
  header {
    justify-content: space-between;
  }

  header i#btn__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color02);
    color: #fff;

    width: 46px;
    height: 46px;

    border-radius: 50%;
    z-index: 1000;
  }

  header i#btn__menu:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 0px #000;
    transition-duration: 0.3s;
  }

  header nav {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -300px;
    z-index: -1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 70px;
    background-color: var(--color00);
    transition-duration: 0.3s;
  }

  header nav a:hover {
    background-color: var(--color02);
    color: var(--color00);
  }

  header nav a > i.fa-solid {
    display: none;
  }

  header div {
    width: 151.39px;
    display: flex;
    justify-content: flex-end;
  }
}
