@charset "UTF-8";

:root {
  /* COLORS */
  --colorwhite: #f6f4f3;
  --colorblack: #0f0f0f;
  --color01: #008dce;
  --color02: #ff8b00;
  --color03: #80d7ff;
  --color04: #024563;
  --color05: #ffd199;

  /* FONTS */
  --default: "Montserrat", sans-serif;
  --title: "Cutive Mono", monospace;

  /* PADDING, MARGIN, BORDER, BORDER-RADIUS */
  --defaultPadding__Button: 8px 16px;
  --defaultBorder: 2px solid var(--color03);
  --defaultBorderRadius: 16px;
  --defaultBorderRadius__Button: 16rem;
}

body,
html {
  font-family: var(--default);
  font-size: 20px;

  scroll-behavior: smooth;
}

body {
  background: var(--color03);
}

h1,
h2,
h3 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 1.4rem;
}

strong {
  font-weight: bold;
}

.button__ReturnTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  display: grid;
  place-items: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  background-color: var(--color04);
  color: var(--color05);
  box-shadow: 2px 2px 8px #00000070, -2px -2px 8px #ffffff70;

  text-decoration: none;
}

.naoSelecionavel {
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  user-select: none; /* Padrão */
}
