@charset "UTF-8";

:root {
  /* COLORS */
  --colorwhite: #FCFCFC;
  --colorblack: #171614;
  --color01: #0300E6;
  --color02: #2624B3;
  --color03: #343380;
  --color04: #2E2E4C;
  --color05: #292933;

  /* FONTS */
  --default: "Montserrat", sans-serif;
  --title: "Cutive Mono", monospace;

  /* PADDING, MARGIN, BORDER, BORDER-RADIUS */
  --defaultPadding: 1rem;
  --defaultPaddingButton: 6px 20px;
  --defaultMargin: 5px;
  --defaultBorder: 2px solid var(--color05);
  --defaultBorderRadius: 10px;
  --defaultButtonBorderRadius: 5rem;
}

body,
html {
  width: 100vw;
  
  font-family: var(--default);
  font-size: 20px;

  scroll-behavior: smooth;
}

.naoSelecionavel {
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  user-select: none; /* Padrão */
}
