@charset "UTF-8";

:root {
  /* PALETA DE CORES */
  --colorwhite: #fff;
  --colorblack: #000;

  /* FONTES */
  --default: Arial, Helvetica, sans-serif;
}

body,
html {
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;

  font-size: 20px;
  font-family: var(--default);
}

a {
  color: var(--colorblack);
  text-decoration: none;
}

i {
  margin-right: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #d3d3d3;
}

footer h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
