main section#skills {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#skills section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

main section#skills .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 280px;

  margin: 10px;
  padding: 10px;

  background-image: linear-gradient(125deg, var(--color00) 10%, #030c11);
  border: 2px solid var(--color01);
  border-radius: 10px;
}

main section#skills .skill:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px var(--color02);
  transition-duration: 0.3s;
}

main section#skills .skill img {
  height: 100px;
  pointer-events: none;
}

main section#skills .skill h2 {
  font-family: var(--default);
  font-size: 1.4rem;

  margin: 10px 0px;
}

main section#skills .skill div {
  padding: 10px;

  border: 2px solid var(--color03);
  border-radius: 10px;
}

main section#skills .skill div i {
  margin: 0px 10px;
  color: var(--color03);
}
