main section#skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
}

main section#skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  padding: 10px;
  margin: 0px 10px;

  border: 1px solid black;
  border-radius: 20px;
}

main section#skills .skill img {
  height: 100px;
  pointer-events: none;
}

main section#skills .skill h2 {
  font-size: 1.5rem;
  font-weight: 600;

  margin: 20px 0px;
}

main section#skills .skill p {
  text-align: justify;
  margin-bottom: 20px;
}

main section#skills .skill a {
  display: block;
  width: 150px;

  padding: 10px;
  border: 1px solid black;
  border-radius: 0px 10px 0px 10px;
}
