main section#welcome__aboutme {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 80px);
}

main section#welcome__aboutme section.welcome__aboutme-text {
  width: 500px;

  display: flex;
  flex-direction: column;
  text-align: justify;
}

main section#welcome__aboutme section.welcome__aboutme-text h2 {
  font-size: 3rem;

  margin: 10px 0px;
}

main section#welcome__aboutme #minhaft {
  background: #fff url("../assets/images/minhaft001.jpeg") no-repeat;
  background-size: cover;
  background-position: top center;

  width: 400px;
  height: 400px;
  margin: 50px;
}

@media screen and (max-width: 1080px) {
  main section#welcome__aboutme {
    flex-direction: column;
    align-items: center;
  }

  main section#welcome__aboutme section.welcome__aboutme-text {
    text-align: center;
  }

  main section#welcome__aboutme #minhaft {
    width: 100%;
  }
}
