main section#welcome {
  display: flex;
  justify-content: center;
}

main section#welcome div {
  width: 500px;

  display: flex;
  flex-direction: column;
  text-align: start;
}

main section#welcome div p strong {
  font-weight: 600;
}

main section#welcome div h2 {
  font-size: 3rem;
  font-weight: 600;

  margin: 20px 0px;
}

main section#welcome #minhaft {
  height: 400px;
  margin: 50px;
}
