// Seção Sobre
.about {
  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;

    @include respond-to($breakpoint-md) {
      flex-flow: row;
      align-items: flex-start;
    }
  }

  &__image-container {
    position: relative;
    display: flex;
    @include imageSize(250px);
    z-index: 0;

    @include respond-to($breakpoint-md) {
      @include imageSize(300px);
    }

    animation: fadeInUp both;
    animation-timeline: view(100% 5%);

    &--brackets {
      position: relative;
      display: flex;
      @include imageSize(250px);
      z-index: 0;
      clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);

      @include respond-to($breakpoint-md) {
        @include imageSize(300px);
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 85px;
      height: 100%;
      top: 0;
      background: $primary-color;
      z-index: 1;

      @include respond-to($breakpoint-md) {
        width: 100px;
      }
    }

    &::before {
      left: -1.7rem;
      clip-path: polygon(100% 0%, 25% 50%, 100% 100%, 75% 100%, 0% 50%, 75% 0%);

      @include respond-to($breakpoint-md) {
        left: -2rem;
      }
    }

    &::after {
      right: -1.7rem;
      clip-path: polygon(25% 0, 100% 50%, 25% 100%, 0% 100%, 75% 50%, 0% 0%);

      @include respond-to($breakpoint-md) {
        right: -2rem;
      }
    }
  }

  &__image {
    @include imageSize(100%);
    object-fit: cover;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
    transition: transform 0.3s;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    @include imageSize(100%);
    background-color: rgba($primary-color, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__image-container:hover {
    .about__image {
      transform: scale(1.1);
    }

    .about__image-overlay {
      opacity: 1;
    }
  }

  &__text {
    flex: 1;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;

    animation: fadeInUp both;
    animation-timeline: view(70% 5%);
  }

  &__description {
    text-align: justify;
  }

  &__cv-button {
    padding: 0.8rem 1.5rem;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      color: $background-color;
      background-color: $hover-color;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    i {
      margin-left: 0.5rem;
    }
  }
}

.page--light-theme {
  .about {
    &__image-overlay {
      background-color: rgba($light-theme-primary-color, 0.2);
    }

    &__cv-button {
      background-color: $light-theme-primary-color;
      color: $light-theme-background-color;

      &:hover {
        background-color: $light-theme-hover-color;
      }
    }
  }
}
