// Estilos do Footer
.footer {
  background-color: $secondary-color;
  color: $text-color;
  text-align: center;
  padding: 2rem 0;

  &__social-links {
    margin-bottom: 1rem;
  }

  &__social-link {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: $text-color;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.page--light-theme {
  .footer {
    background-color: $light-theme-secondary-color;
    color: $light-theme-text-color;

    &__social-link {
      color: $light-theme-text-color;

      &:hover {
        color: $light-theme-primary-color;
      }
    }
  }
}
