// Estilos do Footer
.footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  background-color: $secondary-color;
  text-align: center;
  color: $text-color;
  margin-top: 2rem;
  padding: 2rem;

  &__social-links {
    display: flex;
    gap: 1rem;
  }

  &__social-link {
    font-size: 1.5rem;
    color: $text-color;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.page--thank-you .footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.page--light-theme {
  .footer {
    background-color: $light-theme-secondary-color;
    color: $light-theme-text-color;

    &__social-link {
      color: $light-theme-text-color;

      &:hover {
        color: $light-theme-primary-color;
      }
    }
  }
}
