// Estilos do Header
.header {
  background-color: rgba($secondary-color, 0.8);
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    width: 100px;
  }

  &__menu {
    display: none;
    list-style: none;

    @include respond-to($breakpoint-md) {
      display: flex;
      gap: 1rem;
    }
  }

  &__menu-link {
    color: $text-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -5px;
      left: 0;
      background-color: $primary-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &__theme-toggle {
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }

    .fa-sun {
      display: none;
    }
  }
}

.page--light-theme {
  .header {
    background-color: rgba($light-theme-secondary-color, 0.8);

    &__menu-link {
      color: $light-theme-text-color;

      &::after {
        background-color: $light-theme-primary-color;
      }
    }
  }
}
