// Seção Habilidades
.skills {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include respond-to($breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.skill-category {
  background-color: $card-background;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__title {
    color: $primary-color;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    
    i {
      margin-right: 0.5rem;
      color: $primary-color;
    }
  }
}

.page--light-theme {
  .skill-category {
    background-color: $light-theme-card-background;

    &__title {
      color: $light-theme-primary-color;
    }

    &__item {
      i {
        color: $light-theme-primary-color;
      }
    }
  }
}
