// Estilos da Página de Agradecimento
.thank-you {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 82px - 170px);
  
  @include respond-to($breakpoint-sm) {
    min-height: calc(100vh - 82px - 144px);
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  &__title {
    font-size: 2rem;
    color: $primary-color;
    
    @include respond-to($breakpoint-sm) {
      font-size: 2.5rem;
    }
  }

  &__message {
    font-size: 1rem;
    
    @include respond-to($breakpoint-sm) {
      font-size: 1.2rem;
    }
  }

  &__icon {
    font-size: 2rem;
    color: $primary-color;
  }

  &__button {
    padding: 0.8rem 1.5rem;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      color: $background-color;
      background-color: $hover-color;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
