/* COLORS */
$colorwhite: #f6f4f3;
$colorblack: #0f0f0f;
$color01: #008dce;
$color02: #ff8b00;
$color03: #80d7ff;
$color04: #024563;
$color05: #ffd199;

/* FONTS */
$defaultFont: "Montserrat", sans-serif;
$titleFont: "Cutive Mono", monospace;

/* PADDING, MARGIN, BORDER, BORDER-RADIUS */
$defaultPadding__Button: 8px 16px;
$defaultBorder: 2px solid var($color03);
$defaultBorderRadius: 16px;
$defaultBorderRadius__Button: 16rem;
