@charset "UTF-8";

@import "./animations";
@import "./variables";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: $defaultFont;
  font-size: 20px;

  background: $colorwhite;
}

.mainSection__Title {
  font-family: $titleFont;
  font-weight: bold;
  font-size: 1.4rem;
}

strong {
  font-weight: bold;
}

/* MAIN CONTENT */
.mainContainer {
  display: flex;
  flex-flow: column wrap;

  margin: 8px 0 34px 0;
  padding: 0 16px;
  gap: 16px;

  .mainContainer__Section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    width: 90vw;
  }
}

.mainContainer__Thank {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 16px;

  background-color: $color04;
  color: $color03;

  .header__Title {
    font-size: 26px;
    font-weight: 700;
  }

  .header__Nav {
    display: flex;
    gap: 8px;
  }

  .header__ButtonSection {
    text-decoration: none;
    content: "";

    font-size: 24px;
    color: $color03;
  }

  @media screen and (min-width: 1080px) {
    .fa-user::after {
      content: "Sobre mim";
    }
    .fa-file::after {
      content: "Projetos";
    }
    .fa-star::after {
      content: "Habilidades";
    }
    .fa-phone::after {
      content: "Contato";
    }
  }
}

/* ABOUT ME */
#section__AboutMe {
  .aboutMe__Text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 8px;

    div {
      display: flex;
      justify-content: center;
    }

    ul li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  .aboutMe__Links {
    text-decoration: none;

    display: flex;
    justify-content: center;
    gap: 16px;

    font-size: 32px;
  }

  .aboutMe__SocialMedia {
    text-decoration: none;

    color: $color04;
  }

  .aboutMe__myPicture {
    max-width: 100%;
    filter: drop-shadow(4px 4px 8px #00000060);
  }
}

/* PROJECTS */
.section__ProjectsList {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;

  .projectsList__Project {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 8px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #0f0f0f60;

    background: $color04;
    color: $colorwhite;
  }

  .projectsList__ProjectThumbnail {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }

  .projectsList__ProjectTechnologies {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
  }

  .projectsList__TechnologyIcon {
    width: 50px;
  }

  .mainSection__ProjectDescription {
    text-align: justify;
  }

  .mainSection__ProjectForMore {
    display: flex;
    flex-flow: column wrap;

    gap: 8px;
  }

  .mainSection__ProjectButton {
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;

    padding: 0.5rem 1rem;
    border-radius: 100rem;
  }

  .mainSection__ProjectButton:first-child {
    background: $color02;
    color: $colorwhite;
  }

  .mainSection__ProjectButton:last-child {
    color: $color02;
    border: 2px solid $color02;
  }
}

/* SKILLS */
.section__SkillsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  gap: 8px;

  .skillsList__Skill {
    width: 45%;
    max-width: 148px;
    height: 200px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    box-shadow: 4px 4px 8px #0f0f0f60;
    background: $color04;
    color: $color03;
    border-radius: 16px;
  }

  .skillsList__SkillIcon {
    width: 100px;
    height: 100px;
  }

  .mainSection__SkillTitle {
    font-size: 1rem;
  }
}

/* FOOTER */
#section__Footer {
  gap: 8px;

  /* FOOTER__FORM */
  .sectionFooter__Form {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: stretch;

    gap: 8px;

    text-align: center;

    .sectionFooter__Input {
      background: transparent;

      border: none;
      border-bottom: 2px solid $color04;

      padding: 4px 8px;
    }

    .sectionFooter__Button {
      align-self: center;

      text-decoration: none;
      text-wrap: nowrap;
      text-align: center;

      padding: 0.5rem 1rem;
      border: none;
      border-radius: 100rem;

      background: $color04;
      color: $colorwhite;
    }
  }

  /* FOOTER__CONTACTS */
  .sectionFooter__Contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 16px;

    p {
      display: flex;

      gap: 8px;

      font-size: 16px;
    }

    .sectionFooter__Button {
      text-decoration: none;

      display: flex;
      gap: 8px;
      padding: 8px 16px;
      border-radius: 100rem;

      background: $color04;
      color: $colorwhite;
    }
  }
}

.button__ReturnTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  display: grid;
  place-items: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  background-color: $color04;
  color: $colorwhite;
  box-shadow: 2px 2px 8px #00000070, -2px -2px 8px #ffffff70;

  text-decoration: none;
}

.naoSelecionavel {
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  user-select: none; /* Padrão */
}
