@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

.mainContainer__Thank {
  min-height: 100vh;

  @include flexCenter;
  text-align: center;

  #section__Thank {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 8px;

    .mainSection__Title {
      padding: 4px;

      border: 2px solid transparent;
      border-bottom-color: $color04;
      border-left-color: $color04;
    }

    .sectionThank__Button {
      text-decoration: none;
      text-wrap: nowrap;
      text-align: center;

      display: flex;
      gap: 8px;

      padding: 8px 16px;
      border-radius: 100rem;

      background: $color04;
      color: $color01;
    }
  }
}
