.mainContainer__Thank {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__Thank {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.thank__returnButton {
  all: unset;
  align-self: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
