.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.skill {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  max-width: 118px;

  text-align: center;
  background: var(--card-background);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.skill__icon {
  width: 70px;
}
