@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

/* SKILLS */
.section__SkillsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  gap: 8px;

  .skillsList__Skill {
    width: 45%;
    max-width: 148px;
    height: 200px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    box-shadow: 0px 4px 12px rgba(27, 38, 59, 0.4);
    background: $color04;
    color: $color01;
    border-radius: 16px;
  }
  
  .skillsList__SkillIcon {
    transition: all ease .2s;
    width: 100px;
    height: 100px;
    aspect-ratio: 4/3;
  }

  .mainSection__SkillTitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .skillsList__Skill:hover > .skillsList__SkillIcon {
      transform: scale(1.2) translateY(-10px) rotateZ(-10deg);
    }
}
