.skills__list {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: flex-start;
}

.skills__category {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 16px;
}

.skill {
  width: 130px;
  height: 160px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: var(--card-background);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.skill__icon {
  width: 70px;
}
