@import "../../global/animations";
@import "../../global/variables";
@import "../../global/functions";

.swiper {
  width: 600px;
  height: 300px;
}

/* PROJECTS */
.section__ProjectsList {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;

  .projectsList__Project {
    @include flexCenter;
    flex-flow: column wrap;

    max-width: 500px;

    gap: 8px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(27, 38, 59, 0.4);

    background: $color04;
    color: $color01;
  }

  .projectsList__ProjectThumbnail {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }

  .projectsList__ProjectTechnologies {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
  }

  .projectsList__TechnologyIcon {
    width: 50px;
  }

  .mainSection__ProjectDescription {
    text-align: justify;
  }

  .mainSection__ProjectForMore {
    display: flex;
    flex-flow: column wrap;

    gap: 8px;
  }

  .mainSection__ProjectButton {
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;

    padding: 0.5rem 1rem;
    border-radius: 100rem;
  }

  .mainSection__ProjectButton:first-child {
    background: $color02;
    color: $color05;
  }

  .mainSection__ProjectButton:last-child {
    color: $color02;
    border: 2px solid $color02;
  }
}

@media screen and (min-width: 912px) {
  .mainSection__ProjectButton:hover {
    transition: all ease .2s;
    transform: scale(1.05);
  }

  .mainSection__ProjectButton:first-child:hover {
    background: $color03;
    color: $color02;
  }

  .mainSection__ProjectButton:last-child:hover {
    background: $color03;
    border-color: transparent;
  }
}
